<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WEDEMY</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href="/commanders">courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/troops">Troops</a>
        </li> -->
      </ul>
    </div>
    <% if(studentId || studentId){ %>
      <div class="d-flex">
        <a class="btn btn-danger" href="/logout"> Logout</a>
      </div>
    <% } %>
  </div>
</nav>